// FONTS
$userfont: 'Gilroy', sans-serif;


// COLORS
$background:#151424;
$background_green: linear-gradient(82.09deg,#4bffff -4.58%,#44d0a1 81.43%);
$background_purple: linear-gradient(82.56deg, #B80079 0%, #069BB8 100%);
$white: #ffffff;
$black: #17191E;
$dark: #22252D;
$blue: #1877F2;
$grey: rgba($white, .4);
$green:#99E172;
$red:#CE0000;


// BORDER-RADIUS
$def_border_radius: 25px;

// BREAKPOINTS
$breakpoints: (
  retina: 2560px,
  xxl: 1920px,
  xl: 1440px,
  lg: 1200px,
  md: 1024px,
  sm: 768px,
  xs: 576px,
  xxs: 320px
);


// ASSETS PATH
$imgSrc: '../img/';
