@use "./vars";
@use "./functions";

.content {
  position: relative;
  padding: 0px 0 30px;

  &:before{
    width: 678px;
    height: 887px;
    top:50%;
    right:0; 
    position: absolute;
    content:"";
    background: functions.src("main__bg-right.png") 0 0 no-repeat;
  }

  &:after{
    width: 658px;
    height: 1500px;
    top:63%;
    left:0; 
    position: absolute;
    content:"";
    background: functions.src("main__bg-left.png") 0 0 no-repeat;
    
  }

  &__title {
    display: block;
    text-align: center;
    color: #4caf50;
    padding-bottom: 30px;
    padding-top: 30px;
    background-color: $dark;
  }

  &__subtitle {
    margin-top: 40px;
    margin-bottom: 20px;
  }

  &__label {
    color: $grey;
    margin-bottom: 20px;
  }
}

.promodj{
  margin-top: 10px;
  text-align: center;
  position: relative;
  max-height: 1007px;
  @media (#{maxScreen(md)}) {
    margin-top: 50px;
  }
  > img{
    width: 64%;
    @media (#{maxScreen(md)}) {
      width: 345px;
    }
  }

  &__name{
    width: 90%;
    height: 320px;
    top: 43%;
    position: absolute;
    text-align: center;
    @media (#{maxScreen(md)}) {
      width: 100%;
      top: 47%;
    }
    img{
      max-width: 1100px;
    }
  }

  &__info{
    position: relative;
    bottom: 65px;
    @media (#{maxScreen(md)}) {
      bottom: 0;
    }
  }

  &__genre{
    font-size: rem(48px);
    line-height: 120%;
    font-weight: 900;
    background: linear-gradient(82.09deg, #4BFFFF -4.58%, #44D0A1 81.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    text-transform: uppercase;
    position: relative;
    // bottom: 125px;
  }

  &__description{
    margin-top: 90px;
    font-weight: 600;
    font-size: rem(32px);
    line-height: 120%;
    @media (#{maxScreen(xs)}) {
      width: 60%;
      margin: 0 auto;
      font-size: rem(16px);
    }
  }

  &__event-time{
    max-width: 440px;
    margin:20px auto;
    font-weight: 600;
    font-size: rem(20px);
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.05em;
    background: linear-gradient(82.09deg, #4BFFFF -4.58%, #44D0A1 81.43%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    @media (#{maxScreen(xs)}) {
      font-size: rem(12px);
      line-height: 120%;
    }
  }
}
.about__picture-item,
.b-circle{
  position: relative;
  &:before{
    width: 120px;
    height: 120px;
    top: 14px;
    right: -9px;
    background: url(../img/dj_aura.svg) no-repeat;
    border-radius: 50%;
    content: "";
    position: absolute;
    @media (#{maxScreen(xs)}) {
      width: 140px;
      height: 140px;
      background-size: cover;
    }
  }
}
.about__picture-item.about__picture_main-item,
.b-circle-big{
  position: relative;

  &:before{
    width: 330px;
    height: 330px;
    top: 9px;
    right: -9px;
    background: url(../img/big-dj-aura.svg) no-repeat;
    content: "";
    position: absolute;

  }
}
.b-rect-big{
  position: relative;
  &:before{
    width: 801px;
    height: 333px;
    
    content: "";
    position: absolute;
    background: functions.src("big-Rectangle.png") no-repeat;
    right:-25px;
    top:25px;
  }
}

.b-rect{
  position: relative;
  
  &:before{
    width: 330px;
    height: 330px;
    
    content: "";
    position: absolute;
    background: url(../img/Rectangle_3.svg) no-repeat;
  }
}

.b-rect-left{
  &:before{
    top:18px;
    left:-20px;
  }
}

.b-rect-right{
  &:before{
    top: 20px;
    right: -20px;
  }
}

.djs-list{
  margin-top: 60px;
  padding-bottom: 175px;

  @media (#{maxScreen(md)}) {
    grid-template-columns: repeat(1,1fr) !important;
  }

  &__item{
    @media (#{maxScreen(md)}) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      margin-bottom: 50px;
  }
    @media (#{minScreen(md)}) {
      &:first-child{
        .djs-list__add-info,
        .djs-list__name{
          text-align: left;
        }
      }
      
      
      &:nth-child(2),&:nth-child(3) {
        .djs-list__picture-area{
          margin:0 auto 29px;
        }
      }
    }
      
  }

  &__picture-area{
    max-width: 128px;
    position: relative;
    margin-bottom: 29px;
    @media (#{maxScreen(md)}) {
      margin-bottom: 60px;
    }
  }
  
  &__picture{
    max-width: 128px;
    border-radius: 50%;
    overflow: hidden;
  }

  &__name{
    text-transform: uppercase;
    font-size: rem(48px);
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 20px;
    text-align: center;
    @media (#{maxScreen(md)}) {
      font-size: rem(32px);
      margin-bottom: 7px;
    }
  }

  &__add-info{
    font-size: rem(20px);
    background: $background_green;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: lowercase;
    @media (#{maxScreen(md)}) {
      font-size: rem(16px);
    }
  }
  
}

.get-ready-h2{
  margin-bottom: 30px;
}

.offer-area{
  margin:10px auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  &_lvl1{
    margin-top: 20px;
  }

  ins{
    margin-left: 10px;
    font-weight: 900;
    line-height: 120%;
    color:$green;
    text-decoration: none;
  }

  &_lvl2 ins{
    color: $red;  
  }

  &_lvl3 ins{
    $background_purple: linear-gradient(82.56deg, #B80079 0%, #069BB8 100%);
  }

  del{
    margin-left: 10px;
    margin-top: 2px;
  }

  &__text{
    line-height: 120%;
    font-weight: 500;
  }
}

.def-bg2{
  background: $background_purple;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}


.about,.aboutv2{
  margin-top: 110px;
  justify-content: space-between;
  
  .about__picture{
    width: 128px;
    height: 128px;
    background-position: 50% 50%;
    background-size: cover;
    
    &-item{
      cursor: pointer;
      order:2;
      opacity: .5;
    }

    &_main-item .about__picture{
      width: 332px;
      height: 332px;
      cursor: default;
    }
    &-item.about__picture_main-item{
      order:1;
      opacity: 1;
      cursor: default;
    }
  }
  
  &__text-area{
    margin-top: 30px;
    max-width: 700px;
  }
}

.about__picture-area {
  margin-top: 55px;
  display: flex;
  flex-wrap: wrap;
  width: 28%;
  justify-content: space-between;
}

.cuts{
  margin-top: 115px;
}

.aboutv2{
  
  &__text-area{
    margin-top: 60px;
  }

  &__picture{
    img{
      margin-bottom: 50px;
    }
  }

}

.story{
  margin-top: 100px;
  &__wrap{
    margin-top: 90px;
    justify-content: space-between;
  }
  .offer-area{
    margin-bottom:0;
  }
.map{
  width: 68%;
}
  &__address{
    width: 30%;
    align-items: center;
    flex-direction: column;
    
    &-icon{
      width: 77px;
      height: 64px;
      display: inline-block;
      background: functions.src("Geo.svg") 0 0 no-repeat;
    }
  }
  
  address{
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    margin-bottom: 30px;
    
  }
}

.faq-area{
  margin-left: auto;
  margin-right: auto;
  margin-top: 130px;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.link-specialv2_whatsapp{
  margin-right: 40px;
}

.phone-icon{
  padding-left: 23px;
  display: inline-block;
  background: functions.src("Phone_icon.svg") 0 0 no-repeat;
}
.faq-area_p1{
  margin-bottom: 25px;
}
.faq-area_p2{
  margin-top: 60px;
  margin-bottom: 20px;
}

.fb-icon{
  padding-left: 30px;
  display: inline-block;
  background: functions.src("FB_Logo.svg") 0 50% no-repeat;
  line-height: 120%;
  
}