header{
  position: relative;
  margin-top: 34px;
}
.logo__wrapper{
  position: absolute;
  top:0;
  text-align: center;
  width: 100%;
  .logo{
    max-width: 100px;
    display: inline-block;
  }
}
